#wrapper{
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  color: white;
}

h1{
  width: 100%;
  text-align: center;
  font-size: 42px;
}

p{
  width: 100%;
  text-align: center;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.5);
}

body{
background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1f/GNOME_green_wallpaper_from_ubuntu_gnome_14.04_or_GNOME_3.12.jpg);
}
